.Xil
iseconfig
xst
_ngo
_xmsgs
pa.from*.tcl
pinlock.rpt
planAhead_run_*
xlnx_auto_*
*_summary.html
*_summary.xml
*_usage.html
*_usage.xml
*usage_statistics.html
*usage_statistics_webtalk.html
*_envsettings.html
*.cmd_log
*.bgn
*.bit
*.bld
*.debug
*.drc
*.lpc
*.log
*.lso
*_map.map
*_map.mrp
*_map.ngm
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*_pad.csv
*_pad.txt
*.par
*.pcf
*.ptwx
*.prj
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xdl
*.xpi
*.xst
*.xrpt
*.xwbt
webtalk_pn.xml


